<!DOCTYPE html>
<html>
  <head>
    <title>Annotation Result</title>
  </head>
  <body>
    <h1>Annotation Result</h1>
    <img
      src="{{ url_for('static', filename='annotated_image.jpg') }}"
      alt="Annotated Image"
      width="700"
      height="400"
    />
    <button id="backToUpload">Back to Upload</button>

    <script>
      document
        .getElementById("backToUpload")
        .addEventListener("click", function () {
          window.location.href = "/";
        });
    </script>
  </body>
</html>
